---
---

@import "{{ site.theme }}";

.wrapper {
    width: 1200px;
}

header {
    width: 300px;
}

section {
    width: 840px;
}

blockquote {
    border-left: 4px solid #267cb9;
    margin: 0 0 30px 0;
    font-style: italic;
    background-color: #267cb917;
    padding: 25px;
    border-radius: 6px;
}